<% @todos.each_slice(3) do |todos|%>
    <div class='row'>
    <% todos.each do |todo| %>
    <div class="card" style="width: 18rem;">
    <%= image_tag  todo.pic, class: "card-img-top", style:'filter:grayscale(100%)' %>
      <div class="card-body">
        <h5 class="card-title"><%= todo.name %></h5>


        <% if user_signed_in? %>
        <%= link_to "Salir", destroy_user_session_path, method: :delete %>
    end
        <%= link_to  "Completar", todos_path, method: :patch %>

      </div>
    </div>
        <% end %>
        </div>
    <% end %>